<ion-header>

<!-- <button ion-button menuToggle>Toggle Menu</button> -->

<!-- <ion-nav id="nav" #content [root]="AddPeriodPage"></ion-nav> -->
<!--     <button ion-button clear menuToggle>
      <ion-icon name="menu" text-right></ion-icon>
    </button> -->

  <ion-navbar hideBackButton="true">
    <button ion-button clear menuToggle right>
      <ion-icon name="menu" text-left></ion-icon>
    </button>
    <ion-title>
      AvaPeriod
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding id="page1" >

  <button id="avaPeriod-button5" ion-button color="balanced" block on-click="goToAddPeriod()">
    Add New Period
  </button>
<!-- <ion-item>
  <ion-icon name="logo-twitter" item-start></ion-icon>
  Followers
  <ion-badge item-end>260k</ion-badge>
</ion-item> -->

<!--   <ion-item>
    <ion-icon name="football" item-start large></ion-icon>
    <h2>Museum of Football</h2>
    <p>11 N. Way St, Madison, WI 53703</p>
  </ion-item>

  <ion-item>
    <ion-icon name="wine" item-left large ></ion-icon>
    <h2>Institute of Fine Cocktails</h2>
    <p>14 S. Hop Avenue, Madison, WI 53703</p>
  </ion-item> -->

  <form id="detail-form5">
    <ion-list >
<!--       <ion-item *ngFor="let item of items"> -->
      <ion-list-header>
        {{userInfor?.name}}'s Periods      
        <ion-badge color="secondary" item-end>{{ approve }}</ion-badge>
        <ion-badge item-end>{{ pending }}</ion-badge>
        <ion-badge color="danger" item-end>{{ rejected }}</ion-badge>
      </ion-list-header>

      <ion-item-sliding *ngFor="let task of taskList ">
     
        <ion-item >
          <ion-row>
            <ion-col col-6 col-sm>
              <h3>{{ task.value.fromDate }}</h3>
            </ion-col>
            <ion-col col-6 col-sm>
              <h3 text-right>{{ task.value.toDate }}</h3>
            </ion-col>
          </ion-row>

        <ion-badge color="danger" *ngIf="task.value.status == 'rejected'" item-end>{{ task.value.status }}</ion-badge>
        <ion-badge color="secondary" *ngIf="task.value.status == 'approve'" item-end>{{ task.value.status }}</ion-badge>
        <ion-badge *ngIf="task.value.status == 'pending'" item-end>{{ task.value.status }}</ion-badge>

<!--     <button id="login-button6" ion-button color="balanced"  style="color:#FAFAF5;" (click)="login(name1, password1)" *ngIf="!(user | async)?.uid" block>
      Login
    </button>
    <button id="login-button7" ion-button color="danger" style="color:#FAFAF5;" (click)="logout()" *ngIf="(user | async)?.uid" block>
      Logout
    </button> -->
<!--           <h3>{{ task.value.fromDate }}</h3>
          <h3 text-right>{{ task.value.toDate }}</h3> -->
          <ion-row>
            <ion-col col-4 col-sm>
              <h3>{{ task.value.startTime }}</h3>
            </ion-col>
            <ion-col col-4 col-sm text-center>
               <ion-icon name="arrow-round-forward" ></ion-icon>
            </ion-col>
            <ion-col col-4 col-sm text-right>
              <h3 text-right>{{ task.value.endTime }}</h3>
            </ion-col>
          </ion-row>

<!--   <ion-badge item-end>{ task.status }}</ion-badge> -->
<!--     <p>I've had a pretty messed up day. If we just...</p> -->

           
        </ion-item>
        <ion-item-options side="left">
<!--           <button ion-button (click)="favorite(item)">Favorite</button> -->
          <button ion-button color="danger" (click)="delete(task.key,task.value.status)">Delete</button>
        </ion-item-options>
    
        <ion-item-options side="right">
          <button ion-button (click)="edit(task.key,task.value)">Edit</button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </form>

</ion-content>
