<ion-header>

<!-- <button ion-button menuToggle>Toggle Menu</button> -->

<!-- <ion-nav id="nav" #content [root]="AddPeriodPage"></ion-nav> -->
<!--     <button ion-button clear menuToggle>
      <ion-icon name="menu" text-right></ion-icon>
    </button> -->

  <ion-navbar hideBackButton="true">
    <button ion-button clear menuToggle>
      <ion-icon name="menu" text-left></ion-icon>
    </button>
    <ion-title>
      AvaPeriod
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding id="page1" class="no-scroll" >

  <button id="avaPeriod-button5" ion-button color="balanced" block on-click="goToAddPeriod()">
    Add New Period
  </button>
<!-- <ion-item>
  <ion-icon name="logo-twitter" item-start></ion-icon>
  Followers
  <ion-badge item-end>260k</ion-badge>
</ion-item> -->

<!--   <ion-item>
    <ion-icon name="football" item-start large></ion-icon>
    <h2>Museum of Football</h2>
    <p>11 N. Way St, Madison, WI 53703</p>
  </ion-item>

  <ion-item>
    <ion-icon name="wine" item-left large ></ion-icon>
    <h2>Institute of Fine Cocktails</h2>
    <p>14 S. Hop Avenue, Madison, WI 53703</p>
  </ion-item> -->

  <form id="detail-form5">
    <ion-list >
<!--       <ion-item *ngFor="let item of items"> -->

      <ion-item-sliding *ngFor="let task of taskList ">
     
        <ion-item >
<!--           <ion-label stacked>as</ion-label>
          <ion-label stacked>City</ion-label> -->
<!--           <button ion-button (click)="presentModal()">{{ item }}</button> -->

<!--           <ion-label float float-start> {{ task.title }}  </ion-label> -->
<!--           <ion-badge item-end>{{ task.fromDate }}</ion-badge>
          <ion-badge item-end>{{ task.toDate }}</ion-badge> -->
<!--             <ion-row>
                <ion-col col-6 col-sm>
                  <h2>{{ task.title }}</h2>
                </ion-col>
                <ion-col col-6 col-sm>
                  <ion-badge item-end>{{ task.status }}</ion-badge>
                </ion-col>
            </ion-row> -->
<h2>{{ task.title }}</h2>
<ion-badge item-end>{{ task.status }}</ion-badge>
<!--           <h3>{{ task.fromDate }}</h3>
          <h3 text-right>{{ task.toDate }}</h3> -->
  <ion-row>
    <ion-col col-6 col-sm>
      <h3>{{ task.fromDate }}</h3>
    </ion-col>
    <ion-col col-6 col-sm>
      <h3 text-right>{{ task.toDate }}</h3>
    </ion-col>
  </ion-row>

<!--   <ion-badge item-end>{ task.status }}</ion-badge> -->
<!--     <p>I've had a pretty messed up day. If we just...</p> -->

           
        </ion-item>
        <ion-item-options side="left">
          <button ion-button (click)="favorite(item)">Favorite</button>
          <button ion-button color="danger" (click)="share(item)">Share</button>
        </ion-item-options>
    
        <ion-item-options side="right">
          <button ion-button (click)="unread(item)">Unread</button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </form>


<!--   <ion-card id="avaPeriod-card21">
    <ion-list>
      <ion-item color="none" id="avaPeriod-list-item7">
        <ion-avatar item-left>
          <img />
        </ion-avatar>
        <h2>
          Item
        </h2>
      </ion-item>
      <div style="width:100%;height:220px;margin:0px 0px;line-height:250px;background-color:#e8ebef;text-align:center;">
        <i class="icon ion-image" style="font-size:64px;color:#888;vertical-align:middle;"></i>
      </div>
      <ion-item id="avaPeriod-list-item-container2">
        <div id="avaPeriod-markdown2" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            Some friendly
            <strong>
              markdown
            </strong>
          </p>
        </div>
      </ion-item>
      <ion-item color="assertive" id="avaPeriod-list-item8">
        <ion-icon name="calendar" item-left></ion-icon>
        Play Song
      </ion-item>
      <ion-item color="assertive" id="avaPeriod-list-item9">
        <ion-icon name="clock" item-left></ion-icon>
        Play Song
      </ion-item>
    </ion-list>
  </ion-card> -->
</ion-content>


<!-- <ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button ion-item (click)="openPage(AddPeriodPage)">
        Home
      </button>
      <button ion-item (click)="openPage(AddPeriodPage)">
        Friends
      </button>
      <button ion-item (click)="openPage(AddPeriodPage)">
        Events
      </button>
      <button ion-item (click)="openPage(AddPeriodPage)">
        Close Menu
      </button>
    </ion-list>
  </ion-content>
</ion-menu> -->