<ion-header>
  <ion-navbar>
    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Profile
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page3">

  <ion-card id="addPeriod-card22">
    <ion-list>
      <ion-item color="none" id="addPeriod-list-item12">
<!--         <ion-avatar item-left>
          <img />
        </ion-avatar> -->
        <ion-icon name="contact" *ngIf="role == 'admin'" item-left></ion-icon>
        <ion-icon name="contacts" *ngIf="role == 'staff'" item-left></ion-icon>
        <h1 text-right>
          {{ userInfor?.name }}
        </h1>
        <h2 text-right>
          {{ userInfor?.role }}
        </h2>
      </ion-item>

      <ion-list>
      
        <ion-list-header>
        <ion-icon name="mail" item-left></ion-icon>
          Email
        </ion-list-header>
        <ion-item >
      <ion-label   style="zoom:1.3;" floating> {{ userInfor?.email }}</ion-label>
              <ion-input [(ngModel)]="email" [ngModelOptions]="{standalone: true}"  minlength="5" maxlength="29" color="positive" type="email"></ion-input>
        </ion-item>
      <!--   <ion-item>The Empire Strikes Back</ion-item>
        <ion-item>Blade Runner</ion-item> -->
      </ion-list>

      <div class="spacer" style="height:20px;" id="login-spacer1"></div>

      <ion-list>
        <ion-list-header>
        <ion-icon name="call" item-left></ion-icon>
          Mobile
        </ion-list-header>
        <ion-item>
      <ion-label style="zoom:1.3;" floating> {{ userInfor?.mobile }}</ion-label>
              <ion-input [(ngModel)]="phone" [ngModelOptions]="{updateOn: 'blur'}" minlength="7" maxlength="11" color="positive" type="tel"></ion-input>
        </ion-item>
      <!--   <ion-item>The Empire Strikes Back</ion-item>
        <ion-item>Blade Runner</ion-item> -->
      </ion-list>
<!--       <ion-item>
        <ion-label floating>Email: {{ userInfor?.email }}</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item> -->

<!--       <ion-item>
        <ion-label floating>Mobile: {{ userInfor?.mobile }}</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item> -->

      <ion-item>
       <ion-icon name="briefcase"> Assigned Task</ion-icon>
        <ion-badge item-end>{{ length }}</ion-badge>
<!--         <ion-label floating>Number of Task: {{ length }}</ion-label>
        <ion-input type="text"></ion-input> -->
      </ion-item>


    </ion-list>
  </ion-card>


  <button id="profile-button9" ion-button color="balanced" block on-click="update(email,phone)">
    Update
  </button>


</ion-content>